apache-airflow-providers-snowflake
apache-airflow-providers-http
snowflake-snowpark-python==1.24.0
snowflake-sqlalchemy
aiohttp
python-dotenv==1.0.0
psycopg2-binary
beautifulsoup4==4.12.3
pandas
pyarrow
regex==2024.9.11
requests==2.32.3
selenium==4.24.0
undetected-chromedriver==3.5.5
boto3
uvicorn[standard]
fastapi
webdriver-manager
langchain==0.0.136
openai==0.27.8
pinecone==5.1.0
tiktoken
pytest
aiohttp
